body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 1em;
  text-transform: uppercase;
  text-shadow: 3px 3px black;
}

header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
}
section {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  width: 100%;
}

img {
  height: 10em;
  width: 10em;
  border-radius: 7px;
}

li {
  margin: .5em;
  display: flex;
  flex-basis: 25%;
  flex-flow: row;
}

a {
  display: flex;
  flex-flow: wrap;
}

div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0.25em;
}

span {
  font-size: 1.2em;
  color: #d3d3d3;
}

input {
  width: 20em;
  height: 2.5em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  padding-left: .75em;
}

input:focus {
  border: none;
}

audio {
  width: 17em;
  border-radius: 15px;
  margin-top: 2.5em;
}

.results {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.player {
  display: flex;
  flex-flow: column;
}

.favoriteList {
  margin: 1em;
}

button {
  margin: 1em;
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
  h1 {
    padding-top: 1em;
    text-align: center;
    margin: 0;
  }

  section {
    display: flex;
    justify-content: center;
    margin: 1em;
  }
  .search-info {
    padding: 0;
    padding-right: 1em;
  }

input {
    width: 20em;
    height: 2.5em;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding-left: .75em;
}

input:focus {
    border: none;
}

audio {
  width: 17em;
  border-radius: 15px;
  width: 17em;
  border-radius: 15px;
  margin-top: 2.5em;
}

.results {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.player {
  display: flex;
  flex-flow: column;
}

.favoriteList {
  margin: 1em;
}

button {
  margin: 1em;
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
    h1 {
        padding-top: 1em;
        text-align: center;
        margin: 0;
    }

    section {
        display: flex;
        justify-content: center;
        margin: 1em;
    }
    .search-info {
        padding: 0;
        padding-right: 1em;
    }
